*{
    padding: 0;
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,700px);
    gap: 10px;
}
.item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    transition: all 100ms;
   
}
.item:hover{
    transform: translateY(-5px);
}
.item>.editButton,.deleteButton{
    border: 1px solid black;
    width: 100px;
}
.editButton{
    
}
.deleteButton{
    
}
.addNew{
    border: 1px solid black;
    width: 100px;
}
.info{
    display: flex;
    gap:5px;
}
.info>span{
    text-decoration: underline;
}
.info>input{
    height: 20px;
}